
<div ng-controller="HealthCheckerController" ng-init="init()">
    <div class="row col-md-4 col-md-offset-2">

        <div class="last-update">Last update: {{wasLastUpdateAgo}} seconds ago</div>

        <div class="panel panel-primary healthchecker-panel">
            <div class="panel-heading header">Applications</div>
            <table class="table">
                <tr ng-repeat="appReport in apps">
                    <td class="col-md-1">
                        <a href="{{appReport.appHost}}" target="_blank" class="glyphicon glyphicon-eye-open view-page"></a>
                    </td>
                    <td class="col-md-7 app-name">{{appReport.appName}}</td>
                    <td class="col-md-4" ng-class="{healthy : appReport.state === 'HEALTHY',
                            error : appReport.state === 'ERROR'}"></td>
                </tr>
            </table>
        </div>
    </div>
</div>