<div class="container" ng-controller="HealthCheckerController" ng-init="init()">
    <div class="healthchecker row">
        <div class="last-update">
            <span>Last update: {{wasLastUpdateAgo}} seconds ago</span>

            <div class="pull-right">
                <span ng-click="goToLocation('healthchecker/history')" class="margin-right glyphicon-span glyphicon glyphicon-th-list"></span>
                <span ng-click="refreshStatuses()" class="glyphicon-span glyphicon glyphicon-refresh"></span>
            </div>
        </div>

        <div class="panel panel-primary healthchecker-panel">
            <div class="panel-heading header">Applications</div>
            <table class="table table-striped">
                <tr ng-repeat="appReport in apps">
                    <td class="col-sm-1">
                        <a href="{{appReport.appHost}}" target="_blank"
                           class="glyphicon glyphicon-eye-open view-page"></a>
                    </td>
                    <td class="col-sm-7 app-name">{{appReport.appName}}</td>
                    <td class="col-sm-4" ng-class="{healthy : appReport.state === 'HEALTHY',
                            error : appReport.state === 'ERROR'}"></td>
                </tr>
            </table>
        </div>
    </div>
</div>